@{
    ViewData["Title"] = "QRTools";
}

<div class="text-center">
    <h1 class="display-4">Welcome to QRTools</h1>
    <p>A tool for generating various QR-codes. Quick and simple. <br/> Use the toolbar at the top of the page to get started.</p>
</div>