<h1 class="center">QR-Code Generator</h1>
<div class="center">
    <input type="text" id="qr-input" placeholder="Enter URL" />
    <button type="button" onclick="generateQrCode()">Generate QR Code</button>
</div>
<div id="qrcode" style="padding-top: 20px" align="center"></div>
<div class="center">
    <button type="button" onclick="downloadQR()" id="download-btn" style="display: none; margin-top: 20px">Download QR Code</button>
</div>
<script src="~/js/qrcode.js"></script>
<script src="~/js/qr-generators.js"></script>