<h1 class="center">vCard QR-Code Generator
    <button type="button" class="info-click" onclick="toggleInfo()">ℹ️</button>
    </h1>
<div style="text-align: center;">
    <div style="display: inline-block; text-align: left">
        <input style="margin-top: 5px;" type="text" id="name" placeholder="Full name"/>
        <br/>
        <input style="margin-top: 10px" type="tel" id="phone" placeholder="Phone number"/>
        <br/>
        <input style="margin-top: 10px" type="text" id="email" placeholder="Email"/>
        <br/>
        <input style="margin-top: 10px" type="text" id="org" placeholder="Organization"/>
        <br/>
        <input style="margin-top: 10px" type="text" id="job-title" placeholder="Job title"/>
        <br/>
        <input style="margin-top: 10px" type="text" id="address" placeholder="Address"/>
        <br/>
        <input style="margin-top: 10px" type="text" id="note" placeholder="Addt. notes"/>
        <br/>
        <div style="text-align: center">
            <button type="button" class="generate-btn" onclick="generateVCard()">Generate QR Code</button>
        </div>
    </div>
</div>
<div id="qrcode" style="padding-top: 20px" align="center"></div>
<div class="center">
    <button type="button" class="download-btn" onclick="downloadQR()" id="download-btn">Download QR Code</button>
</div>
<div id="info" class="info-box" style="display: none; margin-top: 10px">
    📶 Generate a QR code that that automatically stores the specified contact information.
</div>
<script src="~/js/qrcode.js"></script>
<script src="~/js/qr-generators.js"></script>
<script src="~/js/functions.js"></script>